/* application css */
body {margin:0px}
#root {font-family: "Microsoft JhengHei", Arial}
.hl {color:#ff7f7f;}
.hl0 {color:#ff7f7f;}
.hl1 {color:lightgreen;}
.hl2 {color:yellow;}

.kepan {background:#9f9f9f;display: block;white-space: pre}
.filterhit {color:#ff7f7f;font-size:75%;font-weight:700;cursor:pointer}
.filterhit:hover {text-decoration:underline;color:red;}
.disablefilterhit {color:#ff7f7f;font-size:75%}
.filterlabel {color:lightblue;cursor:pointer}
.filterlabel:hover {text-decoration:underline;}

.inlinesvg {}
.toclabel {cursor:pointer}
.toclabel:hover {border-bottom:1px solid blue}

.dicthandle{position: absolute;right:0;cursor: pointer;top:-1em;}

.hitbuttongroup {position: absolute;top:-1.2em;}
.hitbutton {color:black;border-radius:5px;font-size:80%;
  cursor:pointer;background: rgba(127,127,255,127)}

.CodeMirror-linewidget {overflow:visible;}
.pb {border-top:0.5px solid gray; text-align:right; width:95%;height:1px}
.pblabel {position:absolute;color:gray;top:-0.5em;font-size:80%;font-weight: 200;font-family: Arial}


.CodeMirror , .cm-s-ambiance.CodeMirror {
  line-height: 1.50em;
  font-size:120%;
  font-weight:100;
  font-family: "Microsoft JhengHei", Arial;
}

.CodeMirror{
  background:#cfcfcf;
}
.CodeMirror-activeline-background {background: #bfbfbf}

.cm-s-ambiance .CodeMirror-activeline-background {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.131);
}

.CodeMirror-cursor { border-left: 3px solid gray; }



.notelink {font-size:0.6em;cursor:pointer;
	top:1.1em;color:blue;position:absolute;
}

.link {border-bottom:solid 1px blue;cursor:pointer;}

.note {font-size:0.6em;cursor:pointer;
	top:-1.1em;color:black;position:absolute;}
.ptr {font-size:0.6em;cursor:pointer;
	top:-1.1em;color:black;position:absolute;}

.def {font-size:0.6em;cursor:pointer;
	color:black}
.mui-tabs__bar>li>a{
	line-height: 1.4em;  /*pass as topMargin down to muitab, see index.js*/
	height:1.4em;
	color:silver; /*look nicer on ambiance mode*/
}
.mui-dropdown__menu>li>a{
	line-height: 1.4em;  /*pass as topMargin down to muitab, see index.js*/
	height:1.4em;
	font-weight: 700;
	color:black; /*look nicer on ambiance mode*/
}
.mui-dropdown__menu>li>a:hover{
	color:blue; /*look nicer on ambiance mode*/
}
.closebutton{
   float:right;color:white;width:1.1em;margin-top:3px;
	font-size:125%;border-radius:50%
}
.closebutton:hover {
	background:#ff2f2f;
}

.clonebutton{
   float:right;color:white;width:1.1em;margin-top:3px;
	font-size:125%;border-radius:50%
}
.clonebutton:hover {
	background:#4fff4f;color:green;
}


.tooltip {
    position: relative;
    display: inline-block;
    color:white;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
		top: 1.5em;
		right:0%;
    visibility: hidden;
    width: 120px;
    background-color: silver;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltipfirst {

	left:0%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


